<header class="header">
    <div class="logo-container">
        <img class="rounded-image" src="" width="80px" height="50px">
        <!-- <i class="fa fa-home logo-icon"></i> -->
        <span class="app-name">Credit Card Management</span>
    </div>
    <div>

        <span *ngIf="userRole === 'admin'" class="status-dot-admin"></span>
        <span *ngIf="userRole === 'user'" class="status-dot-user"></span>
        <img src="" alt=" Welcome {{username}} ">&nbsp;
        <span>User Role: &nbsp;{{userRole}}</span><br>
        <!-- <button (click)="toggleDarkMode()" class="dark-mode-toggle">
            🌙
        </button> -->
        <!-- <button *ngIf="!isLoggedOut" class="btn btn-outline-danger" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button> -->
    </div>
</header>