<div class="reset-password-container">
    <h2>Reset Password</h2>

    <!-- Display success or error message -->
    <div *ngIf="message" class="alert" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
        {{ message }}
    </div>

    <!-- Reset Password Form -->
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" readonly type="email" formControlName="email" class="form-control"
                placeholder="Enter your email" />
            <div *ngIf="email?.invalid && email?.touched" class="error-message">
                Please enter a valid email address.
            </div>
        </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input id="newPassword" type="password" formControlName="newPassword" class="form-control"
                placeholder="Enter new password" />
            <div *ngIf="newPassword?.invalid && newPassword?.touched" class="error-message">
                Password must be at least 8 characters long.
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"
                placeholder="Confirm new password" />
            <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="error-message">
                Passwords do not match.
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
</div>