<div class="dashboard-container">
    <div class="header">
        <h2>Welcome to the {{'User'}} Dashboard</h2>
        <p>Get a quick overview of your credit and debit.</p>
    </div>

    <div class="dashboard-cards">
        <div class="dashboard-card">
            <h3>Total Limit</h3>
            <p>50000</p>
        </div>
        <div class="dashboard-card">
            <h3>Total Revenue</h3>
            <p>Rs 25,000</p>
        </div>
        <div class="dashboard-card">
            <h3>New Merchent</h3>
            <p>150</p>
        </div>
    </div>

    <div class="charts">
        <div class="chart-container">
            <h3>Revenue (Monthly)</h3>
            <!-- <canvas baseChart [datasets]="barChartData.datasets" [labels]="barChartLabels" [options]="barChartOptions"
                [chartType]="barChartType">
            </canvas> -->
        </div>

        <div class="chart-container">
            <h3>Credit and Debit Trend</h3>
            <!-- <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="{ responsive: true }"
                [chartType]="'line'">
            </canvas> -->
        </div>

        <div class="chart-container">
            <h3>Payment Distribution</h3>
            <!-- <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType">
            </canvas> -->
        </div>
    </div>


    <div class="recent-activity">
        <h3>Recent Activities</h3>
        <ul>
            <li [ngClass]="'payment-done'">Payment Done to BookMyShow.</li>
            <li [ngClass]="'payment-done'">Payment to MakemyTrip.</li>
            <li [ngClass]="'payment-received'">Payment Received from IRCTC.</li>
        </ul>
    </div>
</div>